<div class="login">
  <h2>New User? Sign Up!</h2>

  <form action="/user/register/" method="POST">
    <div>
      <div id="nameError"></div>
      <input type="text" name="name" id="name" placeholder=" Name..." />
    </div>
    <br />
    <div>
      <div id="regEmailError"></div>
      <input type="text" name="email" id="regEmail" placeholder=" Email..." />
    </div>
    <br />
    <div>
      <div id="regPassError"></div>
      <input
        type="password"
        name="password"
        id="regPass"
        placeholder=" Password..."
      />
    </div>
    <br />
    <div>
      <div id="confirmPassError"></div>
      <input
        type="password"
        name="verifyPassword"
        id="confirmPass"
        placeholder=" Confirm Password..."
      />
    </div>
    <br />
    <div><%- include('_registerValidation')%></div>
    <br />
    <div>
      <input
        type="submit"
        class="btn"
        value="Register"
        onclick="return validateRegisterForm();"
      />
    </div>
  </form>
</div>

<div class="login">
  <h2>Already Registered? Login!</h2>

  <form action="/user/login/" method="POST">
    <div>
      <div id="loginEmailError"></div>
      <input
        type="email"
        name="email"
        id="loginEmail"
        placeholder=" Email..."
      />
    </div>
    <br />
    <div>
      <div id="loginPassError"></div>
      <input
        type="password"
        name="password"
        id="loginPass"
        placeholder=" Password..."
      />
    </div>
    <br />
    <div><%- include('_loginValidation')%></div>
    <br />
    <div>
      <input
        type="submit"
        class="btn"
        value="Login"
        onclick="return validateLoginForm();"
      />
    </div>
  </form>
</div>
