<div class="navigation">
  <div style="float: left;">
    <a href="/"><img class="icon" src="/images/home.png" /></a>
    <a href="/new"><img class="icon" src="/images/add.png" /></a>
  </div>

  <div>
    <form id="form" action="/search" method="post">
      <div class="searchbox">
        <input type="text" name="search" placeholder="   🔎    Search..." />
      </div>
      <input type="submit" class="btn_search" value="" />
    </form>
  </div>

  <div>
    <form action="/user/logout" method="POST">
      <input type="image" class="icon" style="margin-left: 20px;" src="/images/logout.png" />
    </form>
  </div>
</div>