<form id="form" action='/search' method='post'>
    <div class="notification">
        <div align="left">
            <a href="/"><img class="icon" src="/images/home.png"></a>
            <a href="/new"><img class="icon" src="/images/add.png"></a>
            <div class="searchbox" style="float: right; width: 650px"><input type='text' name="search" placeholder="   🔎    Search..."></div>
        </div>
    </div>
    <input type="submit" class="btn_search" value="" />
</form>